<tr class="w-100">
  <td>
    <table class="header w100">
      <tr>
        <td class="tc">
          <img
            style="margin: 20px 0"
            src="https://i.ibb.co/4jDhTyp/logo-rihappy-2d-solzinho-2.png"
          />
        </td>
      </tr>
    </table>
    <table class="header w100">
      <td colspan="1" style="height: 4px; background-color: #EC008C"></td>
      <td colspan="1" style="height: 4px; background-color: #15BEF0"></td>
      <td colspan="1" style="height: 4px; background-color: #F26322"></td>
      <td colspan="1" style="height: 4px; background-color: #62489D"></td>
      <td colspan="1" style="height: 4px; background-color: #2CB34A"></td>
      <td colspan="1" style="height: 4px; background-color: #EE3124"></td>
      <td colspan="1" style="height: 4px; background-color: #F177AE"></td>
    </table>
  </td>
</tr>