.um,.dois,.tres,.quatro,.cinco{
    text-align: center;
}

.um{
    font-size: 50px;
}
.dois{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    text-decoration: underline black 2px;
}
.tres{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 5px;
}

@keyframes animation {
    from{
        font-size: 12px;
        color: red;
        transform: rotate(0);
    }
    to{
        font-size: 60px;
        color: blue;
        transform: rotate(360deg);
    }
}
.quatro{
    position: relative;
    animation: animation 5s infinite ;
}
