.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: center;
  padding-top: 0;
  padding-bottom: 25px;
}

.brandName {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000000;
}

.container {
  text-align: center;
}

.imageContainer {
  text-align: center;
  max-width: 100%;
}

.image {
  border-radius: 0.25rem;
}
.element--shelf{
  display: block;
  box-sizing: border-box;
  max-width: 395px;
  margin: 0 !important;
  width: 100%;
  height: 466px;
  padding: 23px 29px;
}
.element--shelf:hover{
  border: 1px solid #73708b;
}
/*Modificando botão do carrosel de produtos*/
.element--shelf :global(.vtex-button){
  display: inline-block;
  width: 100%;
  height: 47px;
  line-height: 47px;
  background-color: #ffc644;
  border: 1px solid #ffc644;
  font-size: 17.8px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 0;
}
.clearLink--shelf{
  display: block;
  width: 100% !important;
}
.containerNormal--shelf{
  margin:0;
  width: 100% !important;
  max-width: max-content !important;
}
.container--shelf{
  width: 100% !important;
}