<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">
<!-- partial:partials/html-head.hbs -->
<!-- partial -->

<body style="
  width:100vw;
  heigth:100vh;
  border:none;
  font-family: 'Open Sans' !important;
">
  <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0" style="
  max-width: 620px;

  ">
    <tr>
      {{#eq orders.0.clientProfileData.lastName "Priolli"}}
        <td style="background-color: green; display:block"> Priolli</td>
        {{/eq}}
    </tr>
    <tr style="margin:0; padding 0;">
      <td style="display:block;width: 620px;text-align: center;">
        <p style="
        height: 16px;
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #FE0000;
      ">
        Vem conferir!
      </p>
      </td>
    </tr>
    <tr style="display: flex; justify-content:space-between">
      <td>
        <p style="
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        text-align: center;
        color: #000000;
        ">
          Visualize na web
        </p>
      </td>
      <td>
        <p style="
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        text-align: center;
        color: #000000;
        ">
          Cancele o recebimento
        </p>
      </td>
    </tr>
    <tr style="display: flex; justify-content:center">
      <td>
        <img src="https://acctglobal.vteximg.com.br/arquivos/et-hering.png" alt="Hering Outlet" style="height: 12px;">
      </td>
    </tr>
    <tr style="display:flex; justify-content:center;border-bottom:1px solid #C4C4C4;margin-bottom:27px;">
      <td style="margin: 0 25px;">
        <p style="color: #848487; letter-spacing: 0.05em; line-height: 16px; font-weight: 600;">FEMININO</p>
      </td>
      <td style="margin: 0 25px;">
        <p style="color: #848487; letter-spacing: 0.05em; line-height: 16px; font-weight: 600;">MASCULINO</p>
      </td>
      <td style="margin: 0 25px;">
        <p style="color: #848487; letter-spacing: 0.05em; line-height: 16px; font-weight: 600;">INFANTIL</p>
      </td>
      <td style="margin: 0 25px;">
        <p style="color: #848487; letter-spacing: 0.05em; line-height: 16px; font-weight: 600;">BEBÊ</p>
      </td>
    </tr>
    <tr style="display: flex; justify-content:center; margin-top:20px">
      <td>
        <img src="https://acctglobal.vteximg.com.br/arquivos/et-HeringReceived.png" alt="Pedido Recebido"
         style="width:453px; height: 54px;">
      </td>
    </tr>
    <tr>
      <td>
        <p>
          Olá, {{orders.0.clientProfileData.lastName}}
      </p>
      </td>
    </tr>
    <tr>
      <td>
        <p style="margin: 0 0 16px 0;">Já recebemos o seu pedido 8328130 por aqui!</p>
      </td>
    </tr>
    <tr>
      <td>
        <p style="margin: 0 0 16px 0;">Confira sempre este e-mail. É através dele que vamos te enviar informações e os próximos status.</p>
      </td>
    </tr>
    <tr>
      <td>
        <p style="margin: 0 0 16px 0;">
          Se você escolheu retirar sua compra em loja, nosso #timeHeringOutlet
          já vai começar a separar tudo com muito carino e vamos te avisar assim que puder buscá-la.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p style="margin: 0 0 16px 0;">
          Ah, não esqueça de guardar este número. Com ele em mãos, você acompanha o status da entrega.
          Sabemos que agora bate aquela ansiedade pra poder aprovietar os produtos logo!
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <h3 style="margin-top: 15px;font-weight: 600;line-height: 19px;color: #000000;">Resumo do Pedido</h3>
        <p style="line-height: 16px;font-weight: 400;color: #000000;margin-bottom:16px;">Pedido N: 7012377234656</p>
        <p style="line-height: 16px;font-weight: 400;color: #000000;margin-bottom:16px;">Valor do Pedido: R$431,97</p>
        <p style="line-height: 16px;font-weight: 400;color: #000000;margin-bottom:16px;">Data de realização do pedido: 22/12/2020</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3 style="margin-top: 15px;font-weight: 600;line-height: 19px;color: #000000;">Forma de Pagamento:</h3>
        <p style="line-height: 16px;font-weight: 400;color: #000000;margin-bottom:16px;">Cartão de Crédito: Mastercard</p>
        <p style="line-height: 16px;font-weight: 400;color: #000000;margin-bottom:16px;">Endereço de entrega: Rua César Cassoli, 772 Jardim Ferraz 2 - Pirangi - SP CEP 15820-000</p>
        <h4 style="line-height: 16px;font-weight: 600;color: #000000;margin-bottom:30px;">Prazo de entrega: 9 dias úteis</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h3 style="line-height: 19px;font-weight: 600;color: #000000;margin-bottom:12px;">Itens do pedido</h3>
        <tr style="display: flex; justify-content:flex-start">
          <td>
            <img src="https://acctglobal.vteximg.com.br/arquivos/et-hering-pants.png" alt="Calça Hering">
          </td>
          <td>
            <p style="margin-left: 14px;">Calça Carrot em Tecido de Viscose Alta - Off White M</p>
            <p style="margin-left: 14px;">1 Unidade R$143,99</p>
          </td>
        </tr>
      </td>
    </tr>
        <td><tr><td><p style="line-height: 22px;color: #000000;font-weight: 400;text-decoration:underline;font-size:16px;margin-bottom:50px;">Acompanhe seu Pedido</p></td></tr></td>
    <tr style="display: flex; justify-content:center;">
          <td style="display:flex; justify-content:center;align-items:center;margin:18px;">
            <img src="https://acctglobal.vteximg.com.br/arquivos/et-hering-phone.png" alt="Envie uma mensagem" style="width: 37.25px;height: 37.25px;">
            <p style="
            width: 77px;
            font-size:9px;
            line-height:11.35px;
            color:#FE0000;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            text-align:center;
            margin-left:17px;
            ">Envie OUTLET para 29653 e receba todas as novidades</p>
          </td>
          <td style="display:flex; justify-content:center;align-items:center;margin:18px;">
            <img src="https://acctglobal.vteximg.com.br/arquivos/et-hering-interest-free.png" alt="Seis vezes sem juros" style="width: 55px;height: 47px;">
            <p style="
            width: 77px;
            font-size:9px;
            line-height:11.35px;
            color:#FE0000;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            text-align:center;
            margin-left:17px;
            ">Parcelamento facilitado</p>
          </td>
          <td style="display:flex; justify-content:center;align-items:center;margin:18px;">
            <img src="https://acctglobal.vteximg.com.br/arquivos/et-hering-facebook.png" alt="Facebook"style="width: 39px;height: 39px;">
            <p style="
            width: 77px;
            font-size:9px;
            line-height:11.35px;
            color:#FE0000;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            text-align:center;
            margin-left:17px;
            ">Acesse nosso facebook</p>
          </td>
    </tr>
    <tr>
      <td>
        <p style="
          text-align:center;
          font-family: 'Arial';
          font-style: normal;
          font-weight: 400;
          color: #ADADAF;
          margin-bottom:16px;
          line-height:14px;
        ">
         Tem alguma dúvida sobre o seu pedido? Entre em contato conosco através do nosso
          Serviço de Atendimento ao Consumidor - SAC pelo e-mail <a href="/">Clicando aqui</a> ou pelo telefone 0800 747 3114,
           de segunda a sexta-feira, das 8h às 18h.<br> Prefere conversar pelo chat? <a href="/">Clique aqui</a>, de segunda a sexta-feira,
            das 8h às 22h ou no sábado, das 09h30 às 13h.<br> Dúvidas sobre alteração de senha? <a href="/">Clique aqui!</a><br>
             Esta é uma mensagem automática. Por favor, não responda.
        </p>
      </td>
    </tr>
    <tr><td><p style="
          text-align:center;
          font-family: 'Arial';
          font-style: normal;
          font-weight: 400;
          color: #ADADAF;
          margin-bottom:25px;
          line-height:14px;
    ">Rua Hermann Hering, 1790, Bom Retiro, Blumenau/SC</p></td></tr>
  </table>
</body>
</html>